body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
  margin: 5px 0;
}

#home-page {
  h1 {
    margin-top: 0;
  }
}

.restaurant-selector {
  padding: 10px 0;

  .lunch-group {
    min-height: 100px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #cddae2;
    background: #f0f3f8;
    border-radius: 4px;

    .header {
      margin: 0;
      font-size: 13.4px;
      padding-bottom: 5px;
    }
  }

  .restaurant-list {
    //TODO: Use bootstrap columns
    width: 40%;
    display: inline-block;
    height: 400px;
    overflow-x: hidden;

    .restaurant-item {
      cursor: pointer;
      padding: 10px 0;

      h4 {
        margin: 0;
      }

      .restaurant-details {
        display: inline-block;
      }

      .preference-counts {
        margin-right: 10px;
        float: right;

        .mehs {
          font-weight: bold;
        }

        .nos {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }

  .restaurant-viewer-panel {
    //TODO: Use bootstrap columns
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    .restaurant-thumbnail {
      height: 90px;
      width: 90px;
    }

    .restaurant-details {
      display: inline-block;
      min-width: 300px;
      vertical-align: top;
      margin-left: 5px;

      h3 {
        display: inline-block;
        margin: 0;
        vertical-align: top;
      }
    }

    #restaurant-item-tabs {
      margin-top: 15px;

      .preferences-tab-content {
        .restaurant-filter-label {
          .filter-name {
            border-radius: 20px 0 0 20px;
          }

          .remove {
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }
  }
}

.meh-list, .no-list {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.user-list {
  list-style: none;
  padding-left: 0;
}

.user-preference-label {
  .user-name {
    line-height: 2;
    border-radius: 20px 0 0 20px;
  }

  .remove {
    line-height: 2;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
}

.lunch-group-user-label {
  display: inline-block;

  .user-name {
    line-height: 2;
    border-radius: 20px 0 0 20px;
  }

  .remove {
    line-height: 2;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
}