body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
  margin: 5px 0;
}

#home-page {
  .header {
    position: relative;
    height: 50px;
    
    h1 {
      margin-top: 0;
    }  
    
    .control-page-icon {
      position: absolute;
      right: 0;
      top: 0;
      height: 25px;
      width: 25px;
      font-size: 22px;
    }
  }
}

.restaurant-selector {
  padding: 10px 0;

  .lunch-group {
    min-height: 100px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #cddae2;
    background: #f0f3f8;
    border-radius: 4px;

    .header-message {
      margin: 0;
      font-size: 13.4px;
      padding-bottom: 5px;
    }
    
    .lunch-group-section {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 100px;
      margin-top: 5px;
      
      .lunch-group-checkbox {
        width: 150px;
        margin-left: 10px;
        
        input[type=checkbox] {
          display: none;
        }
        
        input[type=checkbox] + label::before {
          top: 3px;
          right: 6px;
          position: relative;
          content: "";
          background: white;
          height: 16px;
          width: 16px;
          display:inline-block;
          padding: 0 0 0 0px;
          border: 1px solid grey;
          border-radius: 1px;
        }
         
        input[type=checkbox]:checked + label::before {
          background:url("../icons/checkmark.png") no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .restaurant-list {
    //TODO: Use bootstrap columns
    width: 40%;
    display: inline-block;
    height: 100vh;
    overflow-x: hidden;

    .restaurant-item {
      cursor: pointer;
      padding: 10px 0;

      h4 {
        margin: 0;
      }

      .restaurant-details {
        display: inline-block;
      }

      .preference-counts {
        margin-right: 10px;
        float: right;

        .mehs {
          font-weight: bold;
        }

        .nos {
          margin-left: 10px;
          font-weight: bold;
        }
      }
    }
  }

  .restaurant-viewer-panel {
    //TODO: Use bootstrap columns
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;

    .restaurant-thumbnail {
      height: 90px;
      width: 90px;
    }

    .restaurant-details {
      display: inline-block;
      min-width: 300px;
      vertical-align: top;
      margin-left: 5px;

      h3 {
        display: inline-block;
        margin: 0;
        vertical-align: top;
      }
    }

    #restaurant-item-tabs {
      margin-top: 15px;

      .preferences-tab-content {
        .restaurant-filter-label {
          .filter-name {
            border-radius: 20px 0 0 20px;
          }

          .remove {
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }
  }
}

.meh-list, .no-list {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.user-list {
  list-style: none;
  padding-left: 0;
}

.user-preference-label {
  .user-name {
    line-height: 2;
    border-radius: 20px 0 0 20px;
  }

  .remove {
    line-height: 2;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
}

.lunch-group-user-label {
  display: inline-block;

  .user-name {
    line-height: 2;
    border-radius: 20px 0 0 20px;
  }

  .remove {
    line-height: 2;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }
}

#control-page {
  .username {
    display: inline-block;
    width: 150px;
  }  
  
  .restaurant {
    display: inline-block;
    width: 250px;
  }  
  
  .delete-button {
    color: red;
    display: inline-block;
  }
}